#header-div{
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   background-color: #242526;
}

#header-nav{
   width: 100%;
   height: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 15px 0 70px;
}

#header-ways {
   display: flex;
   width: 60%;
   justify-content: space-evenly;
}

#header-logo{
   width: 11%;
   height: 10vh;

   display: flex;
   justify-content: flex-start;
   align-items: center;
}

#logo-style{
   width: 60%;
}

.header-links{
   border-radius: 10px;
   text-decoration: none;
   font-size: 130%;
   color: #E4E6EB;
   font-weight: bold;

   background-color: hsl(0, 0%, 18.82%);;
   width: 20%;
   height: 5vh;

   display: flex;
   justify-content: center;
   align-items: center;
}

.header-links:hover{
   color: #00fff2;
   background-color: #3A3B3C;
}