#header-div{
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   background-color: #242526;
}

#header-nav{
   width: 100%;
   height: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 15px 0 70px;
}

#header-ways {
   display: flex;
   width: 60%;
   justify-content: space-evenly;
}

#header-logo{
   width: 11%;
   height: 10vh;

   display: flex;
   justify-content: flex-start;
   align-items: center;
}

#logo-style{
   width: 60%;
}

.header-links{
   border-radius: 10px;
   text-decoration: none;
   font-size: 130%;
   color: #E4E6EB;
   font-weight: bold;

   background-color: hsl(0, 0%, 18.82%);;
   width: 20%;
   height: 5vh;

   display: flex;
   justify-content: center;
   align-items: center;
}

.header-links:hover{
   color: #00fff2;
   background-color: #3A3B3C;
}

@media (max-width: 767px){
   #header-mobile-div{
      box-sizing: border-box;
      width: 63.2%;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: #242526;

      position: fixed;
   }

   #header-mobile-container{
      height: 8vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   #button-header-mobile{
      background-color: transparent;
      width: 20%;
      height: 8vh;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
   }

   #header-logo-mobile{   
      height: 8vh;
      width: 40%;
      z-index: 100;
   }

   #logo-style{
      height: 8vh;
   }

   #header-mobile-container .active{
      display: flex;
   }

   .lateral-bar-header{
      width: 68%;
      height: 100vh;
      background-color: #242526;

      position: fixed;
      top: 0;
      right: -500px;
      transition: 0.3s ease;
   }

   #container-links-header-mobile{
      width: 100%;
      height: 70vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 2em;
   }

   .lateral-bar-header.active-sidebar{
      right: 225px;
   }

   .header-links{
      border-radius: 8px;
      text-decoration: none;
      font-size: 130%;
      color: #E4E6EB;
      font-weight: bold;
   
      background-color: hsl(0, 0%, 18.82%);
      width: 60%;
      
   
      display: flex;
      justify-content: center;
      align-items: center;
   }
   
   .header-links:hover{
      color: #00fff2;
      background-color: #3A3B3C;
   }
}