#footer-container{
   width: 100%;
   height: 8vh;

   background-color: #242526;
   color: #E4E6EB;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 22%;
}

#icons-container-footer{
   width: 15%; 
   display: flex;
   gap: 25px;
   padding-left: 20px;
}

#copyright-container-footer{
   width: 100%;
   font-size: 120%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;
}

#text-copyright{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

@media (max-width: 767px){
   #footer-container{
      width: 100%;
      height: 12vh;
   
      background-color: #242526;
      color: #E4E6EB;
   
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   
   #icons-container-footer{
      width: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
   }
   
   #copyright-container-footer{
      width: 100%;
      font-size: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }

   #text-copyright{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #img-copyright{
      width: 20px;
   }

   #link-copyright{
      display: none;
   }
}