#footer-container{
   width: 100%;
   height: 8vh;

   background-color: #242526;
   color: #E4E6EB;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 22%;
}

#icons-container-footer{
   width: 15%; 
   display: flex;
   gap: 25px;
   padding-left: 20px;
}

#copyright-container-footer{
   font-size: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}